:root {
    /* Cores principais */
    --color-gold: #CBA153;
    --color-black: #000000;
    --color-white: #FFFFFF;
  
    /* Gradiente Rosa */
    --color-pink-light: #FBD9FB;
    --color-pink-medium: #E58FE6;
    --color-pink-dark: #C946C9;
    --color-pink-gradient: linear-gradient(90deg, var(--color-pink-light), var(--color-pink-dark));
  
    /* Cores para texto */
    --text-primary: var(--color-black);
    --text-secondary: var(--color-gold);
  
    /* Cores de fundo */
    --bg-light: var(--color-white);
    --bg-gradient: var(--color-pink-gradient);
  
    /* Outras cores (hover, bordas, etc.) */
    --border-color: var(--color-gold);
    --hover-pink: var(--color-pink-medium);
  }
  