@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

[type='text']:focus, input:where(:not([type])):focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    outline: 0; 
    outline-offset: 0;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: ;
    --tw-ring-color: ;
    --tw-ring-offset-shadow: ;
    --tw-ring-shadow: ;
    box-shadow: 0;
    border-color: 0;
}

[type='text'], input:where(:not([type])), [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 0px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}



.animationButton:hover {
    background-size: 500% 100%;
    animation: animationB 2s infinite alternate;
}

@keyframes animationB {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}